celery
matplotlib
numpy==1.19.5
pandas
librosa
keras
tensorflow
imbalanced-learn
seaborn
moviepy
pydub
accelerate -U
datasets
transformers[sentencepiece]
torchvision
transformers
regex
dask
cloudpickle
typing_extensions
threadpoolctl
scikit-learn
nvidia-pyindex
nvidia-tensorrt







