regex
numpy==1.19.5
pandas
matplotlib
seaborn
celery
librosa
keras
tensorflow
imbalanced-learn
scikit-learn
moviepy
pydub
accelerate -U
datasets
transformers[sentencepiece]
torchvision
transformers
dask
cloudpickle
typing_extensions
threadpoolctl
nvidia-pyindex
nvidia-tensorrt

